.head1Div1 {
  background-color: var(--pink);
  width: 100%;
  position: fixed;
  z-index: 99;
  display: flex;
  padding: 10px;
  padding-left: 150px;
  justify-content: space-between;
}

.logoDiv {
  align-self: center;
  display: flex;
  height: 50px;
}

.logoDiv h1 {
  align-self: center;
  font-family: "Satisfy", cursive;
  color: var(--dark);
}

.navList {
  align-self: center;
  display: flex;
}

.navItems {
  text-decoration: none;
  color: var(--dark);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-left: 20px;
}

.authLinks {
  padding-right: 300px;
  align-self: center;
  display: flex;
  justify-content: space-between;
  width: 7%;
  font-size: 18px;
  color: var(--dark);
}

@media screen and (max-width: 925px) {
  .head1Div1 {
    padding-left: 30px;
  }

  .logoDiv {
    align-self: center;
    display: flex;
    height: 50px;
  }

  .logoDiv h1 {
    font-size: 18px;
  }

  .navList {
    align-self: center;
    display: flex;
  }

  .navItems {
    font-size: 12px;
  }

  .authLinks {
    padding-right: 50px;
    align-self: center;
    display: flex;
    justify-content: space-between;
    width: 15%;
    font-size: 15px;
    color: var(--dark);
  }
}
