/* Layout.css */

.layout-container {
  display: flex;
  flex-direction: row;
  /* background: var(--ash); */
  display: block;
  background-color: gray;
}

.sidebar-container {
  width: 10%;
}

.page-container {
  width: 90%;
  margin-left: 10%;
  background-color: gray;
}

.bottom-tab-container {
  display: none; /* Hidden by default */
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  .layout-container {
    flex-direction: column;
  }

  .sidebar-container {
    display: none; /* Hide the sidebar on small screens */
  }

  .page-container2 {
    padding-bottom: 70px;
  }

  .bottom-tab-container {
    display: block;
    height: 10%;
  }
}
