.product-details {
  padding: 20px;
  color: var(--dark);
  font-family: "Roboto", sans-serif;
  display: flex;
  padding-top: 0px;
  margin-top: -40px;
}

.product-image {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.product-image2 {
  width: 180px;
  /* max-width: 400px; */
  border-radius: 8px;
  margin-bottom: 20px;
}

.productImagediv {
  width: 45%;
  padding-left: 40px;
}

.product-info {
  max-width: 600px;
  margin-left: 100px;
  margin-top: 50px;
  width: 60%;
}

.product-name {
  font-size: 25px;
  margin-bottom: 10px;
}

.product-price {
  font-size: 20px;
}

.product-category,
.product-about,
.product-description,
.product-reviews {
  font-size: 20px;
  margin-top: 20px;
}

.product-colors {
  margin-bottom: 20px;
}

.color {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #f8f9fa;
  border-radius: 4px;
}

.add-to-cart-button {
  padding: 10px 20px;
  background-color: var(--dark);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

@media screen and (max-width: 925px) {
  .product-details {
    padding: 20px;
    display: block;
    padding-top: 0px;
    margin-top: -30px;
  }

  .product-image {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .product-image2 {
    width: 100%;
    /* max-width: 400px; */
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .productImagediv {
    width: 97%;
    padding-left: 5px;
  }

  .product-info {
    max-width: 600px;
    margin-left: 0px;
    margin-top: 20px;
    width: 100%;
  }

  .product-name {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .product-price {
    font-size: 19px;
    margin-top: 25px;
  }

  .product-description {
    margin-top: 20px;
    font-size: 14px;
  }

  .product-category {
    margin-top: 20px;
    color: gray;
    font-size: 14px;
  }
  .product-about,
  .product-descript,
  .product-reviews {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .product-colors {
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
  }

  .color {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
    align-self: center;
  }

  .color:hover {
    transform: scale(1.1);
  }

  .add-to-cart-button {
    padding: 10px 20px;
    background-color: var(--dark);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 30%;
  }

  .quantity-controls button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .quantity-controls span {
    font-size: 1.2em;
    margin: 0 10px;
  }
}
